/*ustawienie wysokosci strony na 100%, bypass dla uzywania vh*/
html, body{
    height: 100%;
    background-color: darkgray;
}

/*styl dla headera glownego*/
header.top{
    background-color: gray;
    width: 100%;
    height: 10%;
    margin-bottom: 0.5%;
}

/*styl dla headera wew*/
header{
    background-color: gray;
    height: 10%;
    margin-bottom: 0.5%;
}

/*styl dla nava glownego*/
nav.top{
    background-color: darkorange;
    width: 100%;
    height: 5%;
    margin-bottom: 0.5%;
}

/*styl dla nava wew*/
nav.aside{
    background-color: darkorange;
    height: 5%;
    margin: 3% 10% 10% 10%;
    
}

/*styl dla asidea*/
aside{
   background-color: aqua;
   width: 20%;     
}

/*styl dla maina*/
main{
    background-color: lawngreen;
    width: 59%;
    margin: 0 0.5% 0 0.5%;
}

/*elementy wspolne stylu dla asidea i maina*/
aside, main{
    float: left;
    height: 80%;
    margin-bottom: 0.5%;
}

/*styl dla footera*/
footer{
    background-color: blueviolet;
    height: 5%;
    clear: both;  
}

/*styl sekcji*/
section{
    background-color: darkgreen;  
}

section.left_up{
    height: 29%; 
    margin: 3% 2% 4% 2%;  
}

section.left_down{
    height: 90%; 
    margin: 8% 2% 2% 2%;
}

section.main{
    height: 55%; 
    margin: 1%;
}

section.right{
    height: 83%; 
    margin: 10%;
}

/* styl elementow w sekcji main*/
.elements{
    height: 25%; 
    margin: 1%;
}

/*styl dla artykulu*/
article{
    background-color: red;
}

article.left{
    height: 65%; 
    margin: 2%
}

article.main{
    height: 39%; 
    margin: 1%; 
}

article.right{
    height: 92%;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

/*styl dla figury*/
figure{
    background-color: yellow;
}

/*styl dla podpisu figury*/
figcaption{
    background-color: darkkhaki;
}

/*srodkowanie tekstu w pionie*/
nav, footer, figure, figcaption, header{
    overflow: auto;
    display: flex;
    align-items: center;
}

/*klasa dla centrowania tekstu w poziomie, stosowania z centrowaniem w pionie*/
.center_v{
    margin: 0 auto;
}

/*klasa dla centrowania tekstu w poziomie, bez centrowania w pionie*/
.center_h{
    text-align: center;
    height: 2%;
}

